set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'OL-7.9 Server.x86_64'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install PlayKey Pro Host' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=PKPROINST inst.updates=hd:LABEL=PKPROINST:/images/pkpro.img ks=hd:LABEL=PKPROINST:/ks-pk-pro.cfg xdriver=vesa nomodeset
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Test this media & install PlayKey Pro Host' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=PKPROINST inst.updates=hd:LABEL=PKPROINST:/images/pkpro.img ks=hd:LABEL=PKPROINST:/ks-pk-pro.cfg rd.live.check xdriver=vesa nomodeset
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Rescue a PlayKey Pro Host system' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=OL-7.9\x20Server.x86_64 rescue quiet
	initrdefi /images/pxeboot/initrd.img
}
